/* RecipeDisplay CSS */
#recipeDisplay {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

#recipeDisplay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#recipeDisplay p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold; /* Updated to bold */
}

#recipeDisplay #cuisine {
  font-style: italic;
  font-weight: bold; /* Updated to bold */
}

#recipeDisplay #prepTime {
  font-weight: bold;
}

#recipeDisplay img {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

#recipeDisplay #creator {
  font-style: italic;
  font-weight: bold; /* Updated to bold */
  margin-top: 10px;
}
